[submodule ".themes/oct2"]
	path = .themes/oct2
	url = git@github.com:bijumon/oct2.git
[submodule ".themes/octopress-flat"]
	path = .themes/octopress-flat
	url = git@github.com:alexharris/octopress-flat.git
[submodule ".themes/calm-shallow-sea"]
	path = .themes/calm-shallow-sea
	url = git@github.com:alexharris/calm-shallow-sea.git
[submodule ".themes/octofound"]
	path = .themes/octofound
	url = git@github.com:annejohnson/octofound.git
